$small-icon: 14px;
$only-child: 14px;

button,.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  svg,i,span[style] {
    &:not(:only-child) {
      &:not(:last-child) {
        margin-right: 8px!important;
      }
      &:last-child {
        margin-left: 8px!important;
      }
      width: $small-icon!important;
      height: $small-icon!important;
      margin-top: -2px!important;
      margin-bottom: -2px!important;
    }

    &:only-child {
      width: $only-child!important;
      height: $only-child!important;
    }
  }

}
