@use "sass:math";
@import "variables";

.container {
  margin: 0 auto;
  max-width: $layout-width;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media screen and (max-width: 959px) {
      flex-wrap: wrap;
    }

    .col {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 1px;
      flex-direction: column;
      padding: $column-padding;
      margin: #{$gutter}px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      &.rounded {
        border-radius: 8px;
      }

      @for $index from 1 through $max-columns {
        &-#{$index} {
          flex: 1 1 auto;
          padding: $column-padding;
          margin: #{$gutter}px;
          max-width: percentage(math.div($index,$max-columns));

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }

        }
      }
    }
  }
}

