$colors: (
        primary: #4250E4,
        secondary: #FD8B2A,
        info: #87C7EC,
        success: #35E0AD,
        oracles: #9669ED,
        danger: #EB5757,
        warning: #EE9240,
        light-warning: #FFD646,
        white: #fff,
        black: #000,
        dark-gray: #20222b,
        light-dark-gray: #434758,
        gray: #C4C7D3,
);

$opacities: (10, 30, 40, 70);

$hover-darken: 20%;
$inactive-lighten: 35%;

$background-color: #0D0F19;
$background-shadow: #151720;
