$opacities: (10, 30, 40, 70, 90);

$hover-darken: 20%;
$disable-alpha: -.55;

$background-color: #0D0F19;
$background-shadow: #151720;

$layout-width: 960px;
$column-margin: 2rem;
$max-columns: 12;


$colors: (
        primary: #4250E4,
        secondary: #FD8B2A,
        info: #87C7EC,
        success: #35E0AD,
        oracles: #9669ED,
        danger: #EB5757,
        warning: #EE9240,
        light-warning: #FFD646,
        white: #fff,
        black: #000,
        dark-gray: #20222b,
        light-dark-gray: #434758,
        gray: #C4C7D3,
        body: $background-color,
        shadow: $background-shadow,
);
